.container {
    width: 100%;
    padding-top: 20px;
    border-top: 0.2px solid #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.line {
    width: 20px;
    height: 1px;
    background-color: #ffffff;
}

.connect {
    font-family: 'Satoshi';
    font-style: normal;
    font-weight: 500;
    font-size: 18.5714px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}

.logoBar {
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.logoBar a {
    width: 28px;
    height: 28px;
}